@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App {
  font-family: 'Noto Sans', sans-serif;

  display: flex;
  min-height: 100vh;
}

.App-content {
  margin-left: 250px;
  padding: 20px;
  flex: 1;
}

.App-content main {
  padding: 20px;
}

.App-footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  position: relative;
}