.StartPage {
    padding: 3cqb;
    font-family: 'Roboto', sans-serif;
}

.StartPage-content {
    max-width: 600px;
    margin: 0 auto;
}

.StartPage-title {
    font-size: 3em;
    margin-bottom: 20px;
}

.StartPage-description {
    font-size: 1.25rem;
    margin-bottom: 30px;
    line-height: 1.5;
}

.StartPage-button {
    background-color: #6c74f0;
    color: #ffffff;
    border: none;
    font-weight: bold;
    border-radius: 15px;
    padding: 15px 80px;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s, transform 0.3s;
}

.StartPage-button:hover {
    background-color: #787ed8;
    color: #f3f4ff;
    transform: scale(1.05);
}

.StartPage-logo {
    max-width: 700px;
}

.StartPage-features {
    margin-top: 30px;
}

.StartPage-features h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.StartPage-features ul {
    list-style: none;
    padding: 0;
}

.StartPage-features li {
    font-size: 1.125rem;
    margin: 10px 0;
}